@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0%;
    padding: 0%;
}

:root{
    --pretao:black;
    --vermelhao:#ff3131;
    --vermelho-escuro:#ad3030;
    --brancolas:white;
    --cinzolas:#d9d9d9;
    --fonte-poppins:"Poppins", sans-serif;
}

body{
    width:100%;
    height: 100vh;
    background-image: url(/imagens/fundo-login-logout.jpeg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}

main{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloco-logout{
    width: 30%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--brancolas);
    box-shadow: 0 0 13px rgba(0, 0, 0, 64%);
    border-radius: 3px; 
}

.registar{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;

    p{
        font-family: var(--fonte-poppins);
    }
}

.logo{
    font-family: var(--fonte-poppins);
    font-size: larger;

}

.letra-preta{
    color:var(--pretao);
}
.letra-vermelha{
    color:var(--vermelhao)  ;
}

.input-email{
  width: 118%;
  height: 5vh;
  outline: 0;
  padding-left: 5px;
}

.input-email::placeholder{
    color: var(--cinzao);
    font-size: 15px;
    font-family: var(--fonte-poppins);
}

.button-registar{
    width: 120px;
    height: 4vh;
    background-color:var(--vermelhao);
    color: white;
    border-radius: 15px;
    border: none;
    font-size: 17px;
    font-family: var(--fonte-poppins); 
    cursor: pointer;
}

.button-registar:hover{
    background-color: var(--vermelho-escuro);
    font-size:18px ;
}

.entrar-com{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;

    img{
        width: 31px;
        height: 29px; 
    }
}

.button-empresas{
  width: 180%;
  height: 4vh;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background-color: var(--brancolas);
  border: 1px solid var(--pretao);
  font-family: var(--fonte-poppins);
  font-size: 15px;
  cursor: pointer;
}
.ja-possui-conta{
    a{
      text-decoration: none;
      color: var(--vermelhao);
      font-family: var(--fonte-poppins);
    }
}

