<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../../public/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../public/css/login.css">
    <title>Unetec</title>
</head>
<body>
    <main>
        <section class="bloco-login">
          <divc class="entrar">
              <div class="logo"><h1><span class="letra-preta">UN</span><span class="letra-vermelha">ETEC</span></h1></div>
              <p>Você deve logar para entrar</p>
                <div class="div-inputs">
                  <input required class="inputs input-email" type="email" name="input-email " placeholder="Insira seu email" >
                </div>
                <div class="div-inputs">
                  <input required class="inputs input-senha" type="password" name="input-senha" placeholder="Insira sua senha">
                  <a class="esqueceu-senha" href="">Esqueceu sua senha?</a>
                </div>
              <button class="button-entrar">Entrar</button>
          </div>
          
        </section>
      </main>
    
</body>
</html>